<!DOCTYPE html>
<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/addDrive.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/addDrive.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------ Include the above in your HEAD tag ---------->
</head>

<body class="bg-1">
    <%-include('nav.ejs',data)-%>
    <div class="tableWrapper">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Token" aria-label="Recipient's username"
                aria-describedby="basic-addon2" id='token'>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary bg-2" type="button" onclick="addDrive()"><i class="fa fa-sign-in"></i> Submit</button>
            </div>
        </div>
        <a href='<%=url%>' target='_blank' type="button" class="btn btn-primary btn-rounded btn-lg btn-block bg-2" >
            <span class="glyphicon glyphicon-plus-sign "><i class="fa fa-key" aria-hidden="true"></i> 
                Generate A Token </span>
        </a>
    </div>
</body>

</html>