<!DOCTYPE html>
<html lang="en">
  <head>
    
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="/stylesheets/filmCard.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/filmCard.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <div class="cards-list">
  
    <div class="card 1">
      <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>
    
      <div class="card 2">
      <div class="card_image">
        <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
        </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>
    
    <div class="card 3">
      <div class="card_image">
        <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
      </div>
      <div class="card_title">
        <p>Card Title</p>
      </div>
    </div>
      
      <div class="card 4">
      <div class="card_image">
        <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
        </div>
      <div class="card_title title-black">
        <p>Card Title</p>
      </div>
      </div>
    
    </div>
</div>
</html>
