<!DOCTYPE html>
<html lang="en">
  <head>
    
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="/stylesheets/filmCard.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/filmCard.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <button class="btn btn-outline-secondary" type="button" onclick="test()">click</button>
  <div class="container" style="background-image: url(https://a.ltrbxd.com/resized/sm/upload/sd/54/x9/55/like%20a%20boss-1200-1200-675-675-crop-000000.jpg?k=19d1b5e280)">
    <div class="overlay">
      <div class = "items"></div>
      <div class = "items head">
        <h7>like.a.boss.2020.720p.bluray.x264.aac-[yts.mx].mp4</h7>
        <hr>
      </div>
      <div class = "items price">
        <p class="new">Rate - 5/10</p>
        <p class="new">Downloads - 5</p>
      </div>
      <div class="items cart">      
        <button type="button" class="btn btn-outline-info"><i class="fa fa-download"></i>Download</button>
        <button type="button" class="btn btn-outline-info"><i class="fa fa-book"></i>Watch</button>
      </div>
    </div>
   <div>
    <h5 class="tumbName" id="thumbName">like.a.boss.2020.720p.bluray.x264.aac-[yts.mx].mp4</h5>
   </div> 
    
  </div>
  <!--///////////////////////////////////////////////////////////  -->

</html>
