<!DOCTYPE html>
<html lang="en">
  <head>
    
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="/stylesheets/filmCard.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/filmCard.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <div class="container" style="background-image: url(https://m.media-amazon.com/images/M/MV5BZDEyN2NhMjgtMjdhNi00MmNlLWE5YTgtZGE4MzNjMTRlMGEwXkEyXkFqcGdeQXVyNDUyOTg3Njg@._V1_UY1200_CR91,0,630,1200_AL_.jpg)">
    <div class="overlay">
      <div class = "items"></div>
      <div class = "items head">
        <p>Flower Embroidery Hoop Art</p>
        <hr>
      </div>
      <div class = "items price">
        <p class="old">$699</p>
        <p class="new">$345</p>
      </div>
      <div class="items cart">
        
        <button type="button" class="btn btn-outline-info"><i class="fa fa-download"></i>Download</button>
        <button type="button" class="btn btn-outline-info"><i class="fa fa-movie"></i>Watch</button>
    </div>
  </div>
  </div>
</html>
