<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link href="/stylesheets/nav.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="socket.io/socket.io.js"></script>

<!-- Footer -->
<footer class="page-footer font-smaller stylish-color-dark pt-4 " style="color:white">
    <hr>
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ABOUT US</h5>
          <p>We provide simple tools to convert your cloud drives to movie store. you can either transfer films to your drive or watch films which are in
          fellow user's drive </p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
  
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
  
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
      </li>
     <hr> 
       <li class="list-inline-item">
        <h5 class="mb-1">Already have an account ?</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-success btn-rounded">Sign in!</a>
      </li>
      
    </ul>
  
    <!-- Call to action -->
  
    <hr>
  
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
            <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
            <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href=""> Download2Drive.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->