<!DOCTYPE html>
<html>
  <head>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="/stylesheets/home.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/home.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!------ Include the above in your HEAD tag ---------->
  </head>

  <body class="bg-1">
    <div class="container bg-3">
      <%-include('nav.ejs',data)-%>

      <div class="tableWrapper bg-3">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Direct Link"
            aria-label="Recipient's username"
            aria-describedby="basic-addon2"
            id="url"
          />
          <div class="input-group-append">
            <%if(data.loggedIn != true){%>
            <a
              class="btn btn-outline-secondary bg-2"
              type="button"
              href="/login"
              ><i class="fa fa-download"></i> Download</a
            >
            <%}else if(typeof data.token == 'undefined'){%>
            <a
              class="btn btn-outline-secondary bg-2"
              type="button"
              href="/addDrive"
              ><i class="fa fa-download"></i> Download</a
            >
            <%}else{%>
            <button
              class="btn btn-outline-secondary bg-2"
              type="button"
              onclick="download()"
            >
              <i class="fa fa-download"></i> Download
            </button>
            <%}%>
          </div>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="isVideo"
            checked
          />
          <label
            class="form-check-label"
            style="color: aliceblue;"
            for="exampleCheck1"
            >Video</label
          >
        </div>

        <div id="progress_wrapper"></div>
      </div>
      <div class="row">
        <div class="card">
          <div class="wrapper" style="background: rgb(22, 6, 6);">
            <div class="container">
              <div
                class="top"
                style="
                  background-image: url(https://cps-static.rovicorp.com/2/Open/Sony_Pictures_Television/Program/27695740/_derived_jpg_q90_500x500_m0/BADBOYSFORLIFE_PA_2x3_6_1584523611756_5.jpg);
                "
              ></div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h5 style="font-weight: bold;">Bad Boys For Life</h5>
                    <h7>2020</h7>
                  </div>
                  <div class="buy">
                    <button class="btn btn-secondry">Download</button>
                    <button class="btn btn-secondry">Copy</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="inside" style="background: #535252;">
              <div class="icon"><i class="fa fa-info"></i></div>
              <div class="contents">
                <table>
                  <span style="font-weight: bold; color: black;">
                    Marcus and Mike have to confront new issues (career changes and midlife crises), as they join the newly created elite team AMMO of the Miami police department to take down the ruthless Armando Armas, the vicious leader of a Miami drug cartel.
                  </span>
                  <tr>
                    <th>IMDb</th>
                    <th>6.8</th>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="wrapper" style="background: rgb(107, 1, 1);">
            <div class="container">
              <div
                class="top"
                style="
                  background-image: url(https://www.reelviews.net/resources/img/posters/thumbs/trolls_wt.jpg);
                "
              ></div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h5 style="font-weight: bold;">Trolls World Tour</h5>
                    <h7>2020</h7>
                  </div>
                  <div class="buy">
                    <button class="btn btn-secondry">Download</button>
                    <button class="btn btn-secondry">Copy</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="inside" style="background: #ec6161;">
              <div class="icon"><i class="fa fa-info"></i></div>
              <div class="contents">
                <table>
                  <span style="font-weight: bold; color: black;">
                    Poppy and Branch discover that there are six different troll tribes scattered over six different lands. Each tribe is also devoted to six different kinds of music -- funk, country, techno, classical, pop and rock. When rockers Queen Barb and King Thrash set out to destroy the other music, Poppy and Branch embark on a daring mission to unite the trolls and save the diverse melodies from becoming extinct.
                  </span>
                    <th style="font-size: large;">IMDb</th>
                    <th style="font-size: large;">6.1</th>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="wrapper" style="background: rgb(64, 4, 133);">
            <div class="container">
              <div
                class="top"
                style="
                  background-image: url(https://lumiere-a.akamaihd.net/v1/images/p_onward_19024_dbb512d5.jpeg);
                "
              ></div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h5 style="font-weight: bold;">Onward</h5>
                    <h7>2020</h7>
                  </div>
                  <div class="buy">
                    <button class="btn btn-secondry">Download</button>
                    <button class="btn btn-secondry">Copy</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="inside" style="background: #705083;">
              <div class="icon"><i class="fa fa-info"></i></div>
              <div class="contents">
                <table>
                  <tr>
                    <th>IMDb</th>
                    <th>7.5</th>
                  </tr>
                  <span style="font-weight: bold; color: black;">
                    Set in a suburban fantasy world, two teenage elf brothers,
                    Ian and Barley Lightfoot, go on an journey to discover if
                    there is still a little magic left out there in order to
                    spend one last day with their father, who died when they
                    were too young to remember him.
                  </span>
                </table>
              </div>
            </div>
          </div>

          <div class="wrapper" style="background: rgb(92, 0, 84);">
            <div class="container">
              <div
                class="top"
                style="
                  background-image: url(https://specials-images.forbesimg.com/imageserve/5d810c3f22254b0008e0a81d/960x0.jpg?fit=scale);
                "
              ></div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h5 style="font-weight: bold;">Birds Of Prey</h5>
                    <h7>2020</h7>
                  </div>
                  <div class="buy">
                    <button class="btn btn-secondry">Download</button>
                    <button class="btn btn-secondry">Copy</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="inside" style="background: #d489d4;">
              <div class="icon"><i class="fa fa-info"></i></div>
              <div class="contents">
                <table>
                  <tr>
                    <th>IMDb</th>
                    <th>6.2</th>
                  </tr>
                  <span style="color: rgb(0, 0, 0); font-weight: bold;">
                    A twisted tale told by Harley Quinn herself, when Gotham's
                    most nefariously narcissistic villain, Roman Sionis, and his
                    zealous right-hand, Zsasz, put a target on a young girl
                    named Cass, the city is turned upside down looking for her.
                    Harley, Huntress, Black Canary and Renee Montoya's paths
                    collide, and the unlikely foursome have no choice but to
                    team up to take Roman down.
                  </span>
                </table>
              </div>
            </div>
          </div>

          <div class="wrapper" style="background: rgb(0, 141, 160);">
            <div class="container">
              <div
                class="top"
                style="
                  background-image: url(https://m.media-amazon.com/images/M/MV5BOWE2ODZhYWYtNTFiYy00MjdmLWIzZGEtNTkyOTc1NDIwMjk4XkEyXkFqcGdeQXVyMzY0MTE3NzU@._V1_.jpg);
                "
              ></div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h5 style="font-weight: bold;">Fantacy Island</h5>
                    <h7>2020</h7>
                  </div>
                  <div class="buy">
                    <button class="btn btn-secondry">Download</button>
                    <button class="btn btn-secondry">Copy</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="inside" style="background: #82c1da;">
              <div class="icon"><i class="fa fa-info"></i></div>
              <div class="contents">
                <table>
                  <tr>
                    <th>IMDb</th>
                    <th>4.8</th>
                  </tr>
                  <span style="color: rgb(0, 0, 0); font-weight: bold;">
                    The enigmatic Mr. Roarke makes the secret dreams of his
                    lucky guests come true at a luxurious but remote tropical
                    resort. But when the fantasies turn into nightmares, the
                    guests have to solve the island's mystery in order to escape
                    with their lives.
                  </span>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btncontiner" style="position: relative;">
        <a class="btn button" href="/film">
          Hey, we have huge movie collection!
        </a>
      </div>
    </div>
  </body>
  <footer><%-include('footer.ejs',data)-%></footer>
</html>
