<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="/stylesheets/LoggingStyle.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/javascripts/login.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!------ Include the above in your HEAD tag ---------->
</head>

<body class="bg-1" style="color: white;">

  <div class="main">
    <div class="col-md-6 col-sm-12">
      <div class="login-form">
          <div class="form-group">
            <label>Email</label>
            <input id="email" type="email" class="form-control bg-2" placeholder="email" required>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input id="password" type="password" class="form-control bg-2" placeholder="Password" required>
          </div>
          <button class="btn btn-secondary" id=login onclick="login()" style="background: rgb(124, 1, 124); color: white;">Login</button>
          <button class="btn btn-secondary" if=signup  onclick="location.href = '/signup';" style="background: rgb(97, 1, 97);">Sign Up</button>
      </div>
    </div>
  
   
  </div>
 
  <div class="sidenav bg">
    <svg viewBox="0 0 960 300">
      <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="80%">Welcome</text>
      </symbol>

      <g class="g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
      </g>
    </svg>
  </div>

</body>