<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Downloader</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="/stylesheets/search.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/search.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-1">
    <div class="container bg-3">
      <%-include('nav.ejs',data)-%>

      <div class="tableWrapper bg-3">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search key word"
            aria-label="SearchTag"
            aria-describedby="basic-addon2"
            id="url"
            value=""
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary bg-2"
              type="button"
              onclick="search()"
            >
              <i class="fa fa-search"></i> Search
            </button>
          </div>
        </div>

        <div id="progress_wrapper"></div>

        
      </div>
      <%-include('filmCard.ejs',data)-%>
    </div>

  </body>
  <%-include('footer.ejs',data)-%>
</html>
