
  
  .tableWrapper{
    margin-top: 5%;
    margin: auto;
    padding: 2vh;
    height: 40%;
    width: 80%;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
  }


  @media screen and (max-width: 750px) {
    .tableWrapper{
      margin-top: 5%;
      margin: auto;
      padding: 2vh;
      height: 40%;
      width: 80%;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 35vh;
      }
  }
  .bg-1{
    background-color: #383838;
    }
 