.bg-1{
    background-color: #383838;
    color: white;
    }
.bg-2{
    margin: auto;
    margin-top: 5%;
    padding: 2vh;
    align-items: center;
    height: 50%;
    width: 90%;
}
@media screen and (max-width: 750px) {
    .tableWrapper {
      margin-top: 12%;
    }
  }