

  .tableWrapper{
    margin-top: 5%;
    padding: 2%;
    width: 100%;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    /* height: 60vh; */
    height: auto;
    /* max-height: 60vh; */
    width: 95%;
  }


  @media screen and (max-width: 750px) {
    .tableWrapper{
        margin-top: 15%;
        padding: 2%;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* height: 35vh; */
        /* max-height: 35vh; */
        height: auto;
        width: 95%;
      }
  }  
  .bg-1{
    background-color: #383838;
    }
    
    .bg-2{
      background: rgb(74,1,96);
      background: linear-gradient(45deg, rgba(74,1,96,1) 0%, rgba(9,9,121,1) 100%); 
    }
    
    .bg-3{
      
      margin: auto;
      margin-top: 5%;
      padding: 2vh;
      align-items: center;
      height: 50%;
      width: 90%;
    }