@media screen and (max-width: 750px) {
    .tableWrapper {
      margin-top: 20px;
    }
  }
  .bg-1 {
    background-color: #383838;
  }
  
  .bg-2 {
    background: rgb(74, 1, 96);
    background: linear-gradient(
      45deg,
      rgba(74, 1, 96, 1) 0%,
      rgba(9, 9, 121, 1) 100%
    );
  }
  
  .bg-3 {
    
  
    margin-top: 5%;
    align-items: center;
    height: 50%;
    width: 100%;
  }

  .card {
    position: relative;
    margin-top: 2px;
    display: inline-block;
    width: 95%;
    padding:5%;
    border-radius: 12px;
    background: rgb(80, 79, 79);
    box-shadow: 0px 5px 20px -10px #111111;
    opacity: 1;
  }